<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.csi.fpabil.fpabilbl.integration.dao.TabDocIdentitaMapper">
  <resultMap id="BaseResultMap" type="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentita">
    <id column="cod_tipo_doc_identita" jdbcType="VARCHAR" property="codTipoDocIdentita" />
    <result column="descrizione" jdbcType="VARCHAR" property="descrizione" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cod_tipo_doc_identita, descrizione
  </sql>
  <select id="selectByExample" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentitaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_doc_identita
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_doc_identita
    where cod_tipo_doc_identita = #{codTipoDocIdentita,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tab_doc_identita
    where cod_tipo_doc_identita = #{codTipoDocIdentita,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentitaExample">
    delete from tab_doc_identita
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentita">
    insert into tab_doc_identita (cod_tipo_doc_identita, descrizione)
    values (#{codTipoDocIdentita,jdbcType=VARCHAR}, #{descrizione,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentita">
    insert into tab_doc_identita
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codTipoDocIdentita != null">
        cod_tipo_doc_identita,
      </if>
      <if test="descrizione != null">
        descrizione,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codTipoDocIdentita != null">
        #{codTipoDocIdentita,jdbcType=VARCHAR},
      </if>
      <if test="descrizione != null">
        #{descrizione,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentitaExample" resultType="java.lang.Long">
    select count(*) from tab_doc_identita
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tab_doc_identita
    <set>
      <if test="record.codTipoDocIdentita != null">
        cod_tipo_doc_identita = #{record.codTipoDocIdentita,jdbcType=VARCHAR},
      </if>
      <if test="record.descrizione != null">
        descrizione = #{record.descrizione,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tab_doc_identita
    set cod_tipo_doc_identita = #{record.codTipoDocIdentita,jdbcType=VARCHAR},
      descrizione = #{record.descrizione,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentita">
    update tab_doc_identita
    <set>
      <if test="descrizione != null">
        descrizione = #{descrizione,jdbcType=VARCHAR},
      </if>
    </set>
    where cod_tipo_doc_identita = #{codTipoDocIdentita,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentita">
    update tab_doc_identita
    set descrizione = #{descrizione,jdbcType=VARCHAR}
    where cod_tipo_doc_identita = #{codTipoDocIdentita,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentita">
    <id column="cod_tipo_doc_identita" jdbcType="VARCHAR" property="codTipoDocIdentita" />
    <result column="descrizione" jdbcType="VARCHAR" property="descrizione" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cod_tipo_doc_identita, descrizione
  </sql>
  <select id="selectByExample" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentitaExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tab_doc_identita
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tab_doc_identita
    where cod_tipo_doc_identita = #{codTipoDocIdentita,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tab_doc_identita
    where cod_tipo_doc_identita = #{codTipoDocIdentita,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentitaExample">
    delete from tab_doc_identita
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentita">
    insert into tab_doc_identita (cod_tipo_doc_identita, descrizione)
    values (#{codTipoDocIdentita,jdbcType=VARCHAR}, #{descrizione,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentita">
    insert into tab_doc_identita
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="codTipoDocIdentita != null">
        cod_tipo_doc_identita,
      </if>
      <if test="descrizione != null">
        descrizione,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="codTipoDocIdentita != null">
        #{codTipoDocIdentita,jdbcType=VARCHAR},
      </if>
      <if test="descrizione != null">
        #{descrizione,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentitaExample" resultType="java.lang.Long">
    select count(*) from tab_doc_identita
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tab_doc_identita
    <set>
      <if test="record.codTipoDocIdentita != null">
        cod_tipo_doc_identita = #{record.codTipoDocIdentita,jdbcType=VARCHAR},
      </if>
      <if test="record.descrizione != null">
        descrizione = #{record.descrizione,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tab_doc_identita
    set cod_tipo_doc_identita = #{record.codTipoDocIdentita,jdbcType=VARCHAR},
      descrizione = #{record.descrizione,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentita">
    update tab_doc_identita
    <set>
      <if test="descrizione != null">
        descrizione = #{descrizione,jdbcType=VARCHAR},
      </if>
    </set>
    where cod_tipo_doc_identita = #{codTipoDocIdentita,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="it.csi.fpabil.fpabilbl.integration.dto.TabDocIdentita">
    update tab_doc_identita
    set descrizione = #{descrizione,jdbcType=VARCHAR}
    where cod_tipo_doc_identita = #{codTipoDocIdentita,jdbcType=VARCHAR}
  </update>
</mapper>